<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- I don't know why and I don't want to know why but setting height to 30% makes the missing images display.-->
  <div id="container" style="height:30%;">

    <ion-list style="margin:10px;">
      <ion-item *ngFor="let m of movies">

          <ion-card>
            <ion-img src={{m.Poster}}></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{m.Year}}</ion-card-subtitle>
              <ion-card-title>{{m.Title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
          
      </ion-item>
    </ion-list>

  </div>
</ion-content>
